:root {
  --blue: hsl(246, 80%, 60%);
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
  --violet: hsl(264, 64%, 52%);

  --light-red-work: hsl(15, 100%, 70%);
  --light-red-study: hsl(348, 100%, 68%);
  --lime-green: hsl(145, 58%, 55%);
  --soft-orange: hsl(43, 84%, 65%);
  --white: hsl(0, 0%, 100%);

  --ff-base: 'Rubik', sans-serif;
  --fs-reg: 1.125rem;
  --fs-md: 2rem;
  --fs-lg: 2.5rem;
  --fs-xl: 3rem;

  --fw-reg: 300;
  --fw-md: 400;
  --fw-lg: 500;
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  img,
  picture {
    max-width: 100%;
    display: block;
  }
}

@layer layout {
  body {
    display: grid;
    place-items: center;
    font-family: var(--ff-base);
    font-size: var(--fs-reg);
    background-color: var(--very-dark-blue);
    margin: 3rem 0;
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: var(--fs-reg);
  }

  h1 {
    font-weight: var(--fw-reg);
    @media (width>960px) {
      font-size: var(--fs-md);
    }
  }

  h2,
  p {
    font-weight: var(--fw-lg);
  }

  a {
    text-decoration: none;
    color: var(--pale-blue);
  }

  .time-tracker {
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
      'one'
      'two'
      'three'
      'four'
      'five'
      'six'
      'seven';

    max-inline-size: 26rem;
    margin-inline: 1rem;

    @media (width>960px) {
      max-inline-size: 90rem;
      grid-template-areas:
        'one two three four'
        'one five six seven';
    }
  }

  .time-tracker > * {
    border-radius: 1rem;
    overflow: clip;
    color: var(--white);
    background-color: var(--dark-blue);
    display: grid;
  }

  .time-tracker img {
    max-width: var(--time-tracker-image-width, 100%);
  }

  .profile__card {
    --time-tracker-image-width: 25%;

    .card__info {
      display: flex;

      gap: 2rem;
      align-items: center;
      background-color: var(--blue);
      padding: 1.5rem;
      border-radius: 1rem;

      @media (width>960px) {
        flex-direction: column;
        align-items: start;
        padding: 2rem 2rem 5rem 2rem;
        --time-tracker-image-width: 35%;
      }

      h1 {
        color: var(--white);
      }

      h1 span {
        display: block;
        color: var(--pale-blue);
        font-size: var(--fs-reg);
      }
      .profile {
        border: 3px solid var(--white);
        border-radius: 50%;
      }
    }

    .card__links {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1.5rem;
      background-color: var(--dark-blue);
      align-items: center;

      @media (width>960px) {
        flex-direction: column;
        align-items: start;
        gap: 1.5rem;
        padding: 2rem;
      }
    }
  }

  .time-tracker > *:not(:first-child) {
    .card__img {
      background-position: right 20px top -10px;
      background-repeat: no-repeat;
      min-height: 2.25rem;
    }

    @media (width>960px) {
      .card__img {
        min-height: 1rem;
      }
    }

    .card__data {
      display: grid;
      gap: 0.5rem;
      align-items: center;
      background-color: var(--dark-blue);
      border-radius: 1rem;
      padding: 1.5rem;
    }

    .card__type {
      display: flex;
      justify-content: space-between;
    }

    @media (width>960px) {
      .current {
        font-size: var(--fs-lg);
      }
      .previous {
        font-size: 0.875rem;
      }
    }

    .card__stat {
      display: flex;
      justify-content: space-between;

      @media (width>960px) {
        display: grid;
      }
    }

    .icon {
      height: 5px;
    }
  }

  .time-tracker > :nth-child(1) {
    grid-area: one;
  }

  .time-tracker > :nth-child(2) {
    background-color: var(--light-red-work);
    grid-area: two;
    .card__img {
      background-image: url(/images/icon-work.svg);
    }
  }

  .time-tracker > :nth-child(3) {
    grid-area: three;
    background-color: var(--desaturated-blue);
    .card__img {
      background-image: url(/images/icon-play.svg);
    }
  }

  .time-tracker > :nth-child(4) {
    grid-area: four;
    background-color: var(--light-red-study);
    .card__img {
      background-image: url(/images/icon-study.svg);
    }
  }

  .time-tracker > :nth-child(5) {
    grid-area: five;
    background-color: var(--lime-green);
    .card__img {
      background-image: url(/images/icon-exercise.svg);
    }
  }

  .time-tracker > :nth-child(6) {
    grid-area: six;
    background-color: var(--violet);
    .card__img {
      background-image: url(/images/icon-social.svg);
    }
  }

  .time-tracker > :nth-child(7) {
    grid-area: seven;
    background-color: var(--soft-orange);
    .card__img {
      background-image: url(/images/icon-self-care.svg);
    }
  }
}
